* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.messages {
  list-style-type: none;
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
}

.messages li {
  padding: 10px 15px;
}

.messages li:nth-child(odd) {
  background: #eee;
}

.messages lis span {
  color: #aaa;
}

.actions {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #6b5c74;
}

.users-label {
  position: relative;
  width: 30%;
  border-right: 1px solid transparent;
}

.users-labe:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid black;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  pointer-events: none;
}

.users {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  appearance: none;
  border-radius: #eee;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.users:hover {
  background-color: #ccc;
}

.input {
  width: 45%;
  padding: 10px;
  margin-right: 0.5%;
  border: 0;
  outline: none;
  font-size: 14px;
}

.send {
  width: 25%;
  padding: 10px;
  background-color: #74cada;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.send:hover {
  background-color: #3fb5cb;
}

@media screen and (min-width: 600px) {
  .users-label {
    width: 20%;
  }

  .input {
    width: 65%;
  }

  .send {
    width: 15%;
  }
}

@media screen and (min-width: 769px) {
  .users-label {
    width: 15%;
  }

  .input {
    width: 75%;
  }

  .send {
    width: 10%;
  }
}
